.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  width: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board-header {
  border-bottom: 2px solid white;
}

.split {
  font-family: 'Kanit', sans-serif;
  color: white;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 3%;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 25%;
  background-color: #0A0B2E;
}

.right {
  right: 0;
  width: 75%;
  background-color: #0A0B2E;
}

.centered {
  padding-top: 20px;
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.appointmentPreview {
  background-color: #1B4990;
  color: white;
  font-size: 20px;
  border: 2px white solid;
  border-radius: 20px;
  margin: 10px 0px;
}

.roomView {
  border-radius: 20px;
  align-items: center;
  border: 2px white solid;
  justify-content: center;
  padding: 5px;
  margin: 30px 15px;
  width: 400px;
  height: auto;
  box-sizing: border-box;
}

.room-holder {
  width: 1300px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.ready {
  background-color: rgb(36, 148, 36);
}

.in-use {
  background-color: yellow;
}

.needs-cleaning {
  background-color: red;
}