.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  width: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Align-Center {
  text-align: center;
}

.left-side-button {
  float: 'left'
}

.right-side-button {
  float: 'right'
}

.action-button {
  margin: 5px;
  white-space: normal;
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 10%;
}

.create-person-buttons {
  margin-right: 10px;
}

.input-text {
  margin: 10px 0;
}

.input-fields {
  margin: 5px 0;
  font-size: larger;
}

.error-message {
  color: red
}

.information-display {
  border-radius: 10%;
  padding: 0px 10px;
  /* background-color: lightgray; */
}

input[type="checkbox"]{
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background: lightgray;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
  transition: .5s;
  margin-top: 1px;
  margin-left: 10px;
}

input:checked[type="checkbox"]
{
background: gray;
}

input[type="checkbox"]:before
{
content: '';
position: absolute;
width: 30px;
height: 30px;
border-radius: 20px;
top: 0;
left: 0;
background: black;
transform: scale(1.1);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transition: .5s;
}

input:checked[type="checkbox"]:before
{
left: 30px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.search-results {
  font-size: larger;
}